* {
  margin: 0;
  padding: 0;
}
.round {
  height: 50px;
  width: 50px;
  background: none;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

h2 {
    color: #ffec5d;
}

.round div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
  width: 60%;
  position: relative;
  left: 30px;
  top: 10px;
}

.round div .line {
  width: 100%;
  background:  #4b88ca;
  height: 3px;
  border-radius: 20px;
}

.round div .line:hover {
  width: 100%;
  background:  #4b88ca;
  height: 3px;
  border-radius: 20px;
  cursor: pointer;
}

.dropdown {
  position: fixed;
  z-index: 999;
  min-height: 100vh;
  width: 100%;
  background: #0c0611;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown .round {
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 30px;
  transform: rotate(44deg);
}

.dropdown .round div {
  justify-content: center;
  align-items: center;
  width: 30px;
  position: relative;
}

.dropdown .round div .cross-1 {
  position: absolute;
}
.dropdown .round div .cross-2 {
  transform: rotate(-90deg);
  position: absolute;
}

.dropdown-items {
  position: absolute;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  color: white;
}

.dropdown-items h2 {
  cursor: pointer;
}
.dropdown-items h2:not(.without-line) {
  position: relative;
}

.hide {
  transform: translateX(-100vw);
  transition: transform 1s ease;
}
.show {
  transform: translateX(0vw);
  transition: transform 1s ease;
}
